body {
  background: #333;
  box-sizing: border-box;
  color: deepskyblue;
  margin: auto;
  width: 90%;
  text-align: center;
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 10px 20px;
  margin: 4px 7px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
